#home-title {
  width: 42.5vw;
  height: 20vw;
  margin-left: 10vw;
  margin-top: calc(50vh - 10vw);
  font-size: 10vw;
  line-height: 10vw;
  text-wrap: wrap;
}

#home-hero-background {
  width: 75%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: -1;
  background-color: pink;
  opacity: 0.25;
}

#home-content {
  margin-top: calc(50vh - 10vw);
}

#home-carousel {}

#home-carousel-card {
  width: 20vw;
  height: 500px;
}

.home-text {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-header {
  margin-bottom: 0;
  font-size: 64px;
  text-align: center;
}

.home-subheader {
  margin-bottom: 0;
  font-size: 48px;
  text-align: center;
}

#home-graph {
  width: calc(100% - 80px);
  height: 50vh;
  margin-left: 40px;
  background-color: pink;
  opacity: 0.25;
}

@media (max-width: 768px) {
  #home-title {
    width: 275px;
    height: 128px;
    margin-left: calc(((100% - 340px) / 7) + 20px);
    margin-top: calc(50vh - 64px);
    font-size: 64px;
    line-height: 64px;
  }
}


.energy-container {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 0 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.energy-container:hover {
  transform: translateY(-10px);
}

.energy-container .energy-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.energy-container:hover .energy-image {
  transform: scale(1.05);
}

.energy-details {
  text-align: center;
}

.energy-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.energy-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.energy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.energy-button:hover {
  background-color: #0056b3;
}


::-webkit-scrollbar-track {
  background: #653A56;
}

::-webkit-scrollbar-thumb {
  background: #3f2436;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFEFF2;
}

::-webkit-scrollbar {
  width: 15px;
}